/* --- Estilos generales --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --- Estilos Header (encabezado) --- */
header {
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 2px 5px #0000001a;
    font-weight: bold;
}

#icono-principal {
    width: 160px;
    height: 70px;
}

.nombreAlumno {
    color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

#listado-opciones {
    display: flex;
    align-items: center;
    height: 55px;
    padding-top: 11px;
}

a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

/* --- Estilos Main --- */

body main {
    margin-top: 180px;
    display: flex;
    justify-content: center; /* Centrado horizontal */  
}

#registro-usuario {
    background-color: rgb(219, 216, 216);
    padding: 30px;
    width: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;    
}

#registro-usuario p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

#registro-usuario label {
    font-size: 18px;
    color: black;
}

#registro-usuario input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    height: 50px;
}

#registro-usuario button{
    padding: 12px;
    background-color: rgb(84, 51, 235 );
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
}

/* --- Estilos ingreso del administrador --- */

#loginAdmin {
    position: fixed;
    background-color: rgb(219, 216, 216);
    border-radius: 10px;
    width: 540px;
    height: 290px;
}

#loginAdmin input {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    width: 540px;
}

#loginAdmin button {
    width: 267px;
    gap: 10px;
    margin-top: 20px;
}

/* --- Estilos footer --- */

footer {
    bottom: 0; /* lo pegamos al borde inferior */
    left: 0;
    width: 100%;
    color: rgb(146, 146, 146);
    font-size: 14px;
}