/* --- Estilos generales --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Estilos Header (encabezado) --- */
header {
    display: flex;
    padding: 10px 20px;
    box-shadow: 0 2px 5px #0000001a;
}

#icono-principal {
    width: 50px;
}

.nombreAlumno {
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-top: 11px;
    margin-left: auto;
}

#titulo-principal {
    color: black;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    margin-left: 15px;
    margin-right: 15px;
}

#listado-opciones {
    display: flex;
    align-items: center;
    height: 55px;
    padding-top: 11px;
}

a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}


body main {
    margin-top: 200px;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    
    
    
}



#registro-usuario {
    background-color: rgb(219, 216, 216);
    padding: 30px;
    width: 600px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    
    }





#registro-usuario p {
    
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}


#registro-usuario label {
    font-size: 14px;
    color: black;
}


#registro-usuario input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    height: 50px;
}


#registro-usuario button{
    padding: 12px;
    background-color: rgb(84, 51, 235 );
    color: white;
    border: none;
    border-radius: 8px;
    
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    
}

