<header>
    <img onclick="irAInicio()" id="icono-principal" src="/assets/img/logo.png" alt="Logo Proteina" />

    <nav id="listado-opciones">
        <a href="/dashboard/index">VER</a>
        <a href="/dashboard/consultar">CONSULTAR</a>
        <a href="/dashboard/crear">CREAR</a>
        <a href="/dashboard/modificar">MODIFICAR</a>
        <a href="/dashboard/eliminar">ELIMINAR</a>
    </nav>
        

    <div id="botonCambiarUsuario" onclick="cambiarUsuario()">
        <img onclick="cambiarDeUsuario()" id="icono-cambiar" src="/assets/img/cambiar.png" alt="Cambiar Usuario" />
    </div>
</header>