<!-- Aca incluimos los fragmentos del <head> y del <header> -->

<%- include("partials/head.ejs") %>


        <!-- Importacion de archivo CSS (Estilos) -->
        <link rel="stylesheet" href="/css/index.css">
    </head>
<body>
<%- include("partials/nav.ejs") %>
<main>
    <section>
        <h2 class="h2-separador">Nuestros Productos</h2>
        <div id="zona-productos">
            
        </div>
    </section>
</main>

<script src="/js/index.js"></script>

<%- include("partials/footer.ejs") %> 